$bacground: #bdcad7;
$main-color: white;
$lightTxt: #e7e5e5;
$mediumTxt: #8b8787;
$greyBorder: #eae5e5;
$blackColor: #000;
$hamburger: #534d4d;
$hamburger-hover: tomato;
$menuColor: rgba(255, 99, 71, 0.715);
$accordeonHover: rgba(0, 0, 0, 0.7);
